# Ignore compiled JavaScript files
*.js

# Ignore TypeScript declaration files
*.d.ts

# Ignore TypeScript source maps
*.map

# Ignore build output directory
/dist

# Ignore node_modules directory
/node_modules